#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "includes/settings.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"
#include "includes/custom_keycodes.dtsi"

#define BASE    0
#define NAV     1
#define NUM     2
#define SYM     3
#define FUN     4
#define MBO     5
#define MEDIA   6
#define MOUSE   7


/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
                &kp Q               &kp W               &kp F               &kp P                   &kp G               &kp J               &kp L                   &kp U             &kp Y               &kp QUOT
                &hml LCTRL A        &hml LALT R         &hml LGUI S         &hml LSHFT T            &kp D               &kp H               &hmr RSHFT N            &hmr RGUI E       &hmr RALT I         &hmr RCTRL O        &kp O
                &kp Z               &kp X               &kp C               &kp V                   &kp B               &kp K               &kp M                   &kp COMMA         &kp DOT             &kp SLASH
                                                        &lt MEDIA ESC       &lt NAV TAB             &lt MOUSE SPACE     &lt SYM ENTER       &lt NUM BSPC            &lt FUN DEL
            >;
        };
        
        nav_layer {
            display-name = "Navigation";
            bindings = <
                &bootloader  &kp W        &kp F        &kp P        &kp G           &kp U_REDO   &kp U_PASTE  &kp U_COPY       &kp U_CUT        &kp U_UNDO     
                &kp A        &kp R        &kp S        &kp T        &kp D           &kp H        &kp N        &kp E        &kp I        &kp O   
                &kp Z        &kp X        &kp C        &kp V        &kp B           &kp K        &kp M        &kp A        &kp B        &kp E   
                             &kp N1       &kp N2       &kp N3       &kp N4          &kp N5       &kp N6   
            >;
        };
    };
};