#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "includes/settings.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"
#include "includes/custom_keycodes.dtsi"

#define BASE    0
#define NAV     1
#define NUM     2
#define SYM     3
#define FUN     4
#define MBO     5
#define MEDIA   6
#define MOUSE   7


/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
                &kp Q               &kp W               &kp F               &kp P                   &kp G                      &kp J               &kp L                   &kp U             &kp Y               &kp QUOT
                &hml LCTRL A        &hml LALT R         &hml LGUI S         &hml LSHFT T            &kp D                      &kp H               &hmr RSHFT N            &hmr RGUI E       &hmr RALT I         &hmr RCTRL O
                &kp Z               &kp X               &kp C               &kp V                   &kp B                      &kp K               &kp M                   &kp COMMA         &kp DOT             &kp SLASH
                                                        &lt MEDIA ESC       &lt NAV TAB             &lt MOUSE SPACE            &lt SYM ENTER       &lt NUM BSPC            &lt FUN DEL
            >;
        };
        
        nav_layer {
            display-name = "Navigation";
            bindings = <
                &bootloader  &trans        &trans         &trans         &trans                   &kp U_REDO   &kp U_PASTE    &kp U_COPY    &kp U_CUT      &kp U_UNDO      
                &trans       &trans        &trans         &trans         &trans                   &kp CAPS     &kp LEFT       &kp DOWN      &kp UP         &kp RIGHT         
                &trans       &trans        &trans         &trans         &trans                   &kp INS      &kp HOME       &kp PG_DN     &kp PG_UP      &kp END    
                                           &trans         &trans         &trans                   &trans       &trans         &trans                       
            >;
        };
        
        num_layer {
            display-name = "Numbers";
            bindings = <
                &kp LBKT     &kp KP_N7     &kt KP_N8      &kt KP_N9      &kp RBKT                 &trans       &trans         &trans        &trans         &trans      
                &kp SEMI     &kp KP_N4     &kt KP_N5      &kt KP_N6      &kp EQUAL                &trans       &trans         &trans        &trans         &trans             
                &kp GRAVE    &kp KP_N1     &kt KP_N2      &kt KP_N3      &kp BSLH                 &trans       &trans         &trans        &trans         &trans    
                                           &kt KP_DOT     &kt KP_N0      &kp MINUS                &trans       &trans         &trans                       
            >;
        };
        
        sym_layer {
            display-name = "Symbols";
            bindings = <
                &kp LBRC     &kp AMPS      &kt ASTRK      &trans         &kp RBRC                 &trans       &trans         &trans        &trans         &trans      
                &kp COLON    &kp DOLLAR    &kp PERCENT    &kp CARET      &kp PLUS                 &trans       &trans         &trans        &trans         &trans             
                &kp TILDE    &kp EXCL      &kp AT         &kp HASH       &kp PIPE                 &trans       &trans         &trans        &trans         &trans    
                                           &kp KP_LPAR    &kp KP_RPAR    &kp UNDER                &trans       &trans         &trans                       
            >;
        };
        
        fun_layer {
            display-name = "Function";
            bindings = <
                &bootloader  &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans      
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans             
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans    
                                           &trans         &trans         &trans                   &trans       &trans         &trans                       
            >;
        };
        
        mbo_layer {
            display-name = "Mouse buttons";
            bindings = <
                &bootloader  &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans      
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans             
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans    
                                           &trans         &trans         &trans                   &trans       &trans         &trans                       
            >;
        };
        
        media_layer {
            display-name = "Media";
            bindings = <
                &bootloader  &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans      
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans             
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans    
                                           &trans         &trans         &trans                   &trans       &trans         &trans                       
            >;
        };
        
        mouse_layer {
            display-name = "Mouse";
            bindings = <
                &bootloader  &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans      
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans             
                &trans       &trans        &trans         &trans         &trans                   &trans       &trans         &trans        &trans         &trans    
                                           &trans         &trans         &trans                   &trans       &trans         &trans                       
            >;
        };
        
    };
};


