#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "zmk-helpers/key-labels/36.h"

#include "includes/settings.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"
#include "includes/custom_keycodes.dtsi"

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs


#define BASE    0
#define NAV     1
#define NUM     2
#define SYM     3
#define FUN     4
#define MBO     5
#define MEDIA   6
#define MOUSE   7


/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
                &kp Q               &kp W               &kp F               &kp P                   &kp G               &kp J               &kp L                   &kp U             &kp Y               &kp QUOT
                &hm_l LCTRL A       &hm_l LALT R        &hm_l LGUI S        &hm_shift_l LSHFT T     &kp D               &kp H               &hm_shift_r RSHFT N     &hm_r RGUI E      &hm_r RALT I        &hm_r RCTRL O        &kp O
                &kp Z               &kp X               &kp C               &kp V                   &kp B               &kp K               &kp M                   &kp COMMA         &kp DOT             &kp SLASH
                                                        &lt MEDIA ESC       &lt NAV TAB             &lt MOUSE SPACE     &lt SYM ENTER       &lt NUM BSPC            &lt FUN DEL
            >;
        };
        
        nav_layer {
            display-name = "Navigation";
            bindings = <
                &bootloader  &kp W        &kp F        &kp P        &kp G           &kp U_REDO   &kp U_PASTE  &kp U_COPY       &kp U_CUT        &kp U_UNDO     
                &kp A        &kp R        &kp S        &kp T        &kp D           &kp H        &kp N        &kp E        &kp I        &kp O   
                &kp Z        &kp X        &kp C        &kp V        &kp B           &kp K        &kp M        &kp A        &kp B        &kp E   
                             &kp N1       &kp N2       &kp N3       &kp N4          &kp N5       &kp N6   
            >;
        };
    };
};