#include "skeletyl.dtsi"

&default_transform { // Offset of 5 because the left side has 5 columns
    col-offset = <5>;
};

&kscan0 {
    col-gpios
    = <&pro_micro GP26 (GPIO_ACTIVE_HIGH)> 
    , <&pro_micro GP18 (GPIO_ACTIVE_HIGH)> 
    , <&pro_micro GP20 (GPIO_ACTIVE_HIGH)> 
    , <&pro_micro GP19 (GPIO_ACTIVE_HIGH)> 
    , <&pro_micro GP10 (GPIO_ACTIVE_HIGH)> 
    ;
};